{{!-- Extends the main layout --}}
{{#extend 'main'}}

{{#content 'body'}}
<h1>Welcome to the Activity App</h1>
<p>Explore new activities and bookmark your favorites.</p>
<div id="activity-list"></div>
{{/content}}