<h1>Forgot Password</h1>
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}
<form action="/forgot-password" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="text" name="securityAnswer" placeholder="Answer to your security question" required>
    <button type="submit">Submit</button>
</form>
