<h1>Create Your Profile</h1>
<form action="/profile" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>

    <label for="securityQuestion">Choose a Security Question:</label>
    <select name="securityQuestion" required>
        <option value="firstPet">What was your first pet?</option>
        <option value="middleName">What is your middle name?</option>
        <option value="middleSchool">Where did you attend middle school?</option>
    </select>

    <label for="securityAnswer">Answer:</label>
    <input type="text" name="securityAnswer" required>

    <h3>Select Your Interests</h3>
    <div>
        <input type="checkbox" name="interests[]" value="outdoor"> Outdoor
        <input type="checkbox" name="interests[]" value="food & drink"> Food & Drink
        <input type="checkbox" name="interests[]" value="tourist attraction"> Tourist Attractions
        <input type="checkbox" name="interests[]" value="indoor"> Indoor
    </div>

    <!-- City Selection -->
    <label for="city">Select Your City:</label>
    <select name="city" id="city" required>
        <option value="">Choose a city</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Seattle">Seattle</option>
        <option value="Portland">Portland</option>
        <option value="San Franscisco">San Franscisco</option>
        <option value="San Diego">San Diego</option>
        <option value="Eugene">Eugene</option>
    </select>

    <button type="submit">Create Profile</button>
</form>
