{{#extend 'main'}}

{{#content 'body'}}
<h1>Explore Activities</h1>
<div id="filter-bar">
    <input type="text" id="search" placeholder="Search activities...">
    <button id="filter-button">Apply Filters</button>
</div>
<div id="activity-grid"></div>
{{/content}}